.logo-text-container {
  padding-top: 85px;
}

.company-logo-section {
  margin: 25% 0 0 0;
  animation: LogoMoveToRight 2s;
}

.text-animation {
  animation: textAnimation 2s;
  font-size: 20px;
  text-align: center;
  text-align-last: center;
}

.company-logo {
  width: 70%;
  height: 70%;
}

@keyframes LogoMoveToRight {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes textAnimation {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
